.contenedor{
    display: flex;
    justify-content: center;
}

table{
    border-collapse: collapse;
    border: 2px solid grey;
    letter-spacing: 1px;
    font-size: 1.5rem;
    background-color: rgb(207, 203, 203);
}

th{
    text-align: left;
    border: 1px solid rgb(36, 35, 35);
    padding: 10px;
    background-color: rgb(110, 109, 109);
}

td{
    border: 1px solid rgb(53, 53, 53);
    padding: 10px;
    
}

h2{
    margin: 0;
    padding: 20px;
}

tr:hover{
    background-color: rgb(139, 116, 116);
}